/* justify-content: end;
justify-items: end; */
/* @media (max-width: 700px) {
    .grid-adjustable-columns {
      display: grid;
      grid-auto-flow: row;
    }
  }

  @media (min-width: 701px) {
    .grid-adjustable-columns {
      width: min(1000px,75rem);
      margin: 0 auto;
      grid-auto-flow: column;
      gap: 1em;
    }
  } */

* {
    font-family: Verdana, serif;
}

.logo {
    width: 30%;
    /* background-color: aqua; */
    justify-self: end;
}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* padding: 1rem; */
}

/* @media (max-width: 700px) {
    nav {
      background-color: red;
    }
  } */

nav ul {
    grid-template-columns: repeat(6, 1fr);
    align-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display:inline-grid;
    text-align: center;
    line-height: auto;
    padding: 1rem;
    /* padding-top: 3rem; */
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: #495E57;
    text-decoration: underline;
}

footer {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #495E57;
}

footer ul {
    list-style-type: none;
}

footer h3 {
    color: #F4CE14;
}

footer li {
    margin-bottom: 1rem;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #F4CE14;
    text-decoration: underline;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid blue;
}

.specials {
    display: grid;
}

.specials-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid olivedrab;
}

.divcard {
    border: 1px solid red;
    /* display: grid; */
}

.card {
    border: 1px solid #F4CE14;
    padding: 1rem;
}

/* .rectangle {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px solid black;
  } */

.customers {
    display: grid;
    border: 1px solid aqua;
}

.testimonials {
    border: 1px solid red;
}

.text-right {
    display: inline-grid;
    border: 1px solid red;
    text-align: center;
}

.text-right .avatar {
    padding-right: 1rem;
}

.chicago {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid blue;
}