body {
    font-family: Verdana, serif;
}

button {
    cursor: pointer;
}

.logo {
    /* max-width: 30%; */
    justify-self: end;
}

.flogo {
    margin-top: 2rem;
    justify-self: end;
    border: 1px solid #333333;
    border-radius: 8px;
    padding: .5rem;
    background-color: #edefee;
}

@media (max-width:800px) {
    .logo {
        place-self: center;
    }
}

@media (max-width:800px) {
    .flogo {
        place-self: center;
    }
}

/* ###
    Nav.js */
nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

@media (max-width:800px) {
    nav {
        display: flex;
        flex-direction: column;
    }
}

nav ul {
    grid-template-columns: repeat(6, 1fr);
    align-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display:inline-grid;
    text-align: center;
    padding: 1rem;
}

@media (max-width:800px) {
    nav li {
        padding: 0;
    }
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: #495E57;
    text-decoration: underline;
}

/* ###
    Footer.js */
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-color: #333333; */
    background-color: #495E57;
}

@media (max-width:800px) {
    footer {
        display: flex;
        flex-direction: column;
    }
}

footer ul {
    list-style-type: none;
}

footer h3 {
    color: #F4CE14;
}

footer li {
    margin-bottom: 1rem;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #F4CE14;
    text-decoration: underline;
}

/* ###
CallToAction.js*/
.hero h1 {
    color: #F4CE14;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif ;
}

.hero h3 {
    color: white;
    margin-top: 0;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #495E57;
}

@media (max-width:800px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.hero-items {
    margin-left: 42%;
    width: 50%;

}

@media (max-width:800px) {
    .hero-items {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-bottom: 0;
    }
}

.hero-items button {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

@media (max-width:800px) {
    .hero-items button {
        margin-top: 0;
    }
}

.hero img {
    display: flex;
    justify-self: flex-end;
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 42%;
    width: 25%;
}

@media (max-width:800px) {
    .hero img {
        margin-right: 0;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 2rem;
    }
}

.hero p {
    color: white;
}

.hero button {
    background-color: #F4CE14;
    border: 1px solid #F4CE14;
    border-radius: 16px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    transition-duration: 0.4s;
}

.hero button:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

/* ########### */
/* Specials.js */
.specials {
    display: grid;
}

.specials-menu {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}

.specials-menu button {
    background-color: #F4CE14;
    border: 1px solid #F4CE14;
    border-radius: 16px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    transition-duration: 0.4s;
}

.specials-menu button:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

.menu-price {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
}

.menu-price p {
    color: #EE9972;
}

.divcard {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 18%;
    margin-right: 18%;
}

@media (max-width:800px) {
    .divcard {
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin: 0;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background-color: #edefee;
    padding: 1rem;
    border: 1px solid #333333;
    border-radius: 16px;
}

@media (max-width:800px) {
    .divcard {
        row-gap: 1rem;
    }
}

.card a {
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
  }

.card a:hover {
    color: #495E57;
    text-decoration: underline;
}

/* ########### */
/* Testimonials.js */
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #495E57;
    margin-top: 2rem;
    padding-top: 2rem;
    row-gap: 2rem;
    padding-bottom: 6rem;
}

@media (max-width:800px) {
    .testimonials {
    padding-top: 0;
    padding-bottom: 2rem;
    row-gap: 0;
    }
}

.testimonials h2{
    color: #F4CE14;
}

.ratingsrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
    margin-left: 18%;
    margin-right: 18%;
    align-items: stretch;
    justify-content: center;
}

@media (max-width:800px) {
    .ratingsrow {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    }
}

.ratingsbox {
    background-color: #edefee;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    border: 1px solid #333333;
    border-radius: 16px;
}

.ratingsbox h4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.star {
    width: 20%;
}

.avatar {
    width: 55%;
    margin-right: 1rem;
}

@media (max-width:800px) {
    .ratingsbox {
    padding-left: 1rem;
    }
}

/* ########### */
/* Chicago.js */
.chicago {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width:800px) {
    .chicago {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0rem;
    margin-right: 0rem;
    }
}

.chicago_text {
    width: 80%;
}

.chicago_img_div{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    flex-wrap: wrap;
    align-content: center;
}

.chicago img {
    border: 1px solid #495E57;
    width: 60%;
}

.chicago h1 {
    margin-bottom: 0;
}

.chicago h3 {
    margin-top: 0;
}